.float {
  display: flex;
}
.float > div {
  flex: 1; /*grow*/
}
#panel-collapse {
    text-decoration:none;
}
#lbl {
    font-size: 16px;
}
.reqmsg{
			 color:red;
            }
            textarea {
                vertical-align: top;
                height: 5em;
            }
.hd{
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-family: cursive;
    font-size: 29.5px;
}
.mytext{
    text-align: justify;
    font-size: 16px; 
    color: whitesmoke;
}
#head {
    font:size:30px;
    font:weight:bold;
}
.lbl {
    font:size:30px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
ol { padding-left: 1.1em; }

#blist {
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}



#c1 {
    background-image: url(../img/home.jpg);
}
#c2 {
    background-image: url(../img/dryer-bg.jpg);
}

#listtxt {
    padding-left: 30px;
    font-weight: normal;
    font-size: 16px;
    font-family: sans-serif;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
#txt {
    text-align: justify;
    font-size: 16px;
    font-family: sans-serif;
}
#label {
    font-size: 18px;
    font-family: sans-serif;
}
#paneltext {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-size: 16px;
}